/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
</style>

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}


    /* Mobile styles*/
    body {
        font-size: 16px; 
        background-color: #540B51;
        
    }
    .nav-bar {
        margin: 65px 55px 65px 55px;
        
    }
    #hamburger-options {
        display: none;
    }

    img[alt="Slack logo"] {
        width: 8rem;
        height: auto;

    }


    nav {
        display: flex;
        justify-content: space-between;
    }



    
   header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;ç
        
        div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       }
    
       :nth-child(1){
        margin:0 35px 35px 35px ;
       }
   }

  

   h1 {
    color: white;
    font-size: 4.3rem;
    text-align: center;
    margin-bottom: 1rem;
   }

   h1 + p {
    color: white;
    font-size: 1.8rem;
    text-align: center;
   }

   #orange-span {
    color: hsl(41deg 83% 56%);
    margin: 0;
   }

   .header-buttons_div{
    justify-content: center;
    align-items: center;
    width: 100%;
    button {
        text-transform: uppercase;
        width: 100%;
        font-size: 1.7rem;
        height: 5rem;
        margin: 0;
       }
    
   }
   

   .header-buttons_div button:hover {
    background-color: rgb(66 133 244);
    color: white;
   }

   #google-button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content:center;
    color: #540B51;
   }
   #google-button span {
    
    width: 95%;
    transform: translate(-5%);
   }

   
/*Entender como haver que el fondo de la imagen del logo
 de google este en blanco cuando se haga hover sobre ella*/

   img[alt="Google logo"]{
    width: 2.3rem;
    
    padding: 1.3rem;
    
   }

   .slack-img_div {
    overflow: hidden;
   }
   img[alt="Slack app screenshot"]{
    width:180% ;
    height: auto;
    position:relative;
    right: 65px;

   }

main,
main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main > section:first-child {
    background-color: #F3EAE2;
    p {
        text-transform: uppercase;
        text-align: center;
        margin-top: 4rem;
        font-weight: bold;
        font-size: 28px;
    }
}
main > section:nth-child(2) {
    background-color: white;
    padding: 2rem;

    h3 {
        text-align: center;
        font-size: 3rem;
        color: #540B51;

    }

    p {
        text-align: center;
        font-weight: 500;
        font-size: 28px;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
       
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 30%;
            text-align: center;
             
            p {
                margin: 0;
                font-size: 18px;
                font-weight: 550;
                line-height: 1.5;
            }
    
            p:nth-child(1){
                font-size: 60px;
                font-weight: bold;
                color:#540B51 ;
                margin-top: 2.5rem;
            }
        }
    }

  
}




section div img {
height: 3.5rem;
}

.logo-div {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin: 38px 48px 0 48px;
    align-content: space-between;
    
    :nth-child(5) {
        margin: 48px 0 48px 0;
    }
    :nth-child(6) {
        margin: 48px 0 48px 0;
    }
    
}

 
 
main > section:nth-child(3){
    h3 {
        color: white;
        text-align:center ;
        font-size: 3.5rem;
    }
}
footer {
    background-color: white;

    ul {
        list-style-type: none;

        

    }

    :nth-child(){

    }

    .li-img {
        margin-right: 6px;
    }

    :nth-child(3) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }
    
}